<div class="multi_img">
	<div>
		<a id="ex-{{include.fig_num1}}"><img src="{{site.baseurl}}/{{include.src}}" alt="{{include.fig_caption1}}" /></a>
		<figure>
			<span class="fignote"><span class="fig-number">Example {{include.fig_num1}}.</span> {% assign fig_caption_emdash = include.fig_caption1 | replace: "--", "—" %} {{ fig_caption_emdash }}</span>
		</figure>
	</div>
	<div>
		<a id="ex-{{include.fig_num2}}"><img src="{{site.baseurl}}/{{include.src}}" alt="{{include.fig_caption2}}" /></a>
		<figure>
			<span class="fignote"><span class="fig-number">Example {{include.fig_num2}}.</span> {% assign fig_caption_emdash = include.fig_caption2 | replace: "--", "—" %} {{ fig_caption_emdash }}</span>
		</figure>
	</div>
	<div>
		<a id="ex-{{include.fig_num3}}"><img src="{{site.baseurl}}/{{include.src}}" alt="{{include.fig_caption3}}" /></a>
		<figure>
			<span class="fignote"><span class="fig-number">Example {{include.fig_num3}}.</span> {% assign fig_caption_emdash = include.fig_caption3 | replace: "--", "—" %} {{ fig_caption_emdash }}</span>
		</figure>
	</div>
</div>

