{% if include.columns %}
<div class="figure-grid" style="--columns: {{ include.columns }};">
  {% for item in site.data.bastone-barrettara.[include.figure_key] %}
    <figure class="figure-grid-item">
      <img src="{{ site.baseurl }}/{{ item.figure.url }}" alt="{{ item.figure.alt }}" {% if item.figure.border %}class="with-border"{% endif %} style="width: {{ item.figure.scale | times: 100 }}%; height: auto;">
      {% if item.figure.caption %}
        <figcaption><span class="fig-number">Example {{ item.figure.number }}.</span> {{ item.figure.caption }}</figcaption>
      {% endif %}
    </figure>
  {% endfor %}
</div>
{% else %}
<div class="figure-grid" style="--columns: 1;">
  {% for item in site.data.bastone-barrettara.[include.figure_key] %}
    <figure class="figure-grid-item">
      <img src="{{ site.baseurl }}/{{ item.figure.url }}" alt="{{ item.figure.alt }}" {% if item.figure.border %}class="with-border"{% endif %} style="width: {{ item.figure.scale | times: 100 }}%; height: auto;">
      {% if item.figure.caption %}
        <figcaption><span class="fig-number">Example {{ item.figure.number }}.</span> {{ item.figure.caption }}</figcaption>
      {% endif %}
    </figure>
  {% endfor %}
</div>
{% endif %}