<div class="full-screen" style="width: {{include.img_size}}%; margin: 0 auto;">
<figure class="figure-container">
        <a id="ex-{{include.fig_num}}"><img src="{{include.src}}" alt="{{include.fig_caption}}" /></a>
    <span class="fignote"><span class="fig-number">Example {{include.fig_num}}.</span> {{include.fig_caption}}</span>
  </figure>
</div>

<div class="small-screen">
<figure class="figure-container">
       <a id="ex-{{include.fig_num}}"><img src="{{include.src}}" alt="{{include.fig_caption}}" /></a>
    <span class="fignote"><span class="fig-number">Example {{include.fig_num}}.</span> {{include.fig_caption}}</span>
  </figure>
</div>


