<div class="multi_img fullwidth">
	<div>
		<a id="ex-{{include.fig_num1}}"><img src="{{ site.baseurl }}/{{include.src1}}" alt="{{include.fig_caption1}}" /></a>
		<figure>
			<span class="fignote"><span class="fig-number">Example {{include.fig_num1}}.</span> {{include.fig_caption1}}</span>
		</figure>
	</div>
	<div>
		<a id="ex-{{include.fig_num2}}"><img src="{{ site.baseurl }}/{{include.src2}}" alt="{{include.fig_caption2}}" /></a>
		<figure>
			
			<span class="fignote"><span class="fig-number">Example {{include.fig_num2}}.</span> {{include.fig_caption2}}</span>
		</figure>
	</div>
	<div>
		<a id="ex-{{include.fig_num3}}"><img src="{{ site.baseurl }}/{{include.src3}}" alt="{{include.fig_caption3}}" /></a>
		<figure>
			<span class="fignote"><span class="fig-number">Example {{include.fig_num3}}.</span> {{include.fig_caption3}}</span>
		</figure>
	</div>
</div>
