<div class="full-screen" style="width: {{include.img_size}}%; margin: 0 auto;">
<figure class="figure-container">
        <a id="ex-{{include.fig_num}}"><img src="{{ site.baseurl }}/{{include.src}}" alt="{{include.fig_caption}}" /></a>
    <span class="fignote"><span class="fig-number">Example {{include.fig_num}}.</span> {% assign fig_caption_emdash = include.fig_caption | replace: "--", "—" %} {{ fig_caption_emdash }}</span>
  </figure>
</div>

<div class="small-screen">
<figure class="figure-container">
       <a id="ex-{{include.fig_num}}"><img src="{{ site.baseurl }}/{{include.src}}" alt="{{include.fig_caption}}" /></a>
    <span class="fignote"><span class="fig-number">Example {{include.fig_num}}.</span> {% assign fig_caption_emdash = include.fig_caption | replace: "--", "—" %} {{ fig_caption_emdash }}</span>
  </figure>
</div>


