<!-- 
<div class="header-wrapper"> 
	<header>
  		<div class="header-content">
    		<nav class="navbar">
      		
      		<div class="logo">
        		<a style="font-size: 2em; font-family: trade-gothic-lt-bold-ext; color: #FAF4A7; text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;" href="/">THEORY<span style="font-size: .5em;"> and</span> <br>PRACTICE</a>
    <br><span style="font-family: trade-gothic-lt-bold-ext"><!~~THE JOURNAL OF THE MUSIC THEORY SOCIETY OF NEW YORK STATE~~></span>
      		</div>
      		
      		<nav style="display: flex; flex-direction: row;">
      			<div class="nav-item" style="margin-left: 1.2v;">About</div>
        		<div class="nav-item">Archive</button></div>
        		<div class="nav-item">Submit</button></div>
        	</nav>
      		
      		<div class="user-actions">
        		<button class="button">Join MTSNYS</button>
      		</div>
    		</nav>
    	</div>
  	<hr>
  </header>
</div>
 -->

<!-- 
<header>
    <div class="header-content">
    <div class="logo">        
            <a href="/">THEORY<span style="font-size: .5em;"> and</span> <br>PRACTICE</a>
    </div>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="/conferences">Archive</a>
                    <ul class="dropdown-menu">
                        <li><a href="/conferences/2025-conference">2025 Conference</a></li>
                        </ul>
                </li>
                <li><a href="/membership">Submit</a></li>
                <li><a href="/leadership">Contributors</a></li>
            </ul>
        </nav>
        <div class="header-actions">
            <a href="/donate" class="donate-button">Donate</a>
        </div>
        <button class="menu-toggle">☰</button> </div>
</header>
<div class="header-divider"></div> 
 -->


<header>
    <div class="header-content">
    <div class="logo">
        <a href="/">
            THEORY<span style="font-size: .75em;"> and</span> <br>PRACTICE
        </a>
        </div>
        <nav class="desktop-nav"> <ul>
                <li><a href="#">About</li>
                <li><a href="#">Archive</a></li>
                <li><a href="#">Contributors</a></li>
                <li><button class="join-button">Join MTSNYS</button></li> </ul>
            </ul>
        </nav>
        <button class="menu-toggle">☰</button> </div>
</header>
<div class="header-divider"></div> 
