<header>
    <div class="header-content">    
<div class="logo">
  <div class="logo-column">
    <a href="{{ site.baseurl }}/">
      <div class="row1">THEORY<span style="font-size: .75em;"> and</span></div>
      <div class="row2">PRACTICE</div> 
      <div class="row3">The Journal of the Music Theory Society of New York State</div>
    </a>
  </div>
</div>
        <nav class="desktop-nav"> <ul>
                <li><a href="{{site.baseurl}}/about">About</li>
                <li><a href="{{site.baseurl}}/submissions">Submit</li>
                <li><a href="https://mtsnys.org/membership"><button class="join-button">Join MTSNYS</button></a></li> </ul>
            </ul>
        </nav>
        <button class="menu-toggle">☰</button> </div>
</header>
<div class="header-divider"></div> 


