<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.layout == 'article' or page.layout == 'review-article' %}
    		<title>{{page.author}}, {{page.title}}</title>
				{% else %}
  				<title>{{ site.title}}</title> 
  		{% endif %}		
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="icon" type="image/svg+xml" href="{{ "/assets/favicon.svg" | relative_url }}">
  <script src="{{site.baseurl}}/assets/js/jquery-3.7.1.min.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5M94HRVD41"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5M94HRVD41');
</script> 

  {% if page.volume == 'vol51' or page.categories contains 'vol51' %}<meta name="robots" content="noindex, nofollow">{% endif %}
  {%- feed_meta -%}
  {%- include analytics.html -%}

</head>