<header>
    <div class="header-content">    
<div class="logo">
  <div class="logo-column"> 
    <a href="{{ site.baseurl }}/">
      THEORY<span style="font-size: .75em;"> and</span>
      <br>PRACTICE
    </a>
  </div>
  <div class="logo-column journal-title">
    The Journal of the Music Theory Society of New York State
  </div>
</div>


        <nav class="desktop-nav"> <ul>
                <li><a href="{{site.baseurl}}/about">About</li>
                <li><a href="{{site.baseurl}}/submissions">Submit</li>
                <li><a href="https://mtsnys.org"><button class="join-button">Join MTSNYS</button></a></li> </ul>
            </ul>
        </nav>
        <button class="menu-toggle">☰</button> </div>
</header>
<div class="header-divider"></div> 
