<div class="masthead">
  <div class="left-section">
    {% if page.volume %}
      <p>{{ page.volume }}</p>
    {% endif %}
  </div>

  {% unless page.layout == 'article' or 'review-article' %}
    <div class="right-section">
      <p class="editors">
        {% for editor in page.editors %}
          {{ editor.name }}
          {% unless forloop.last %} and {% endunless %}
        {% endfor %} Editors
      </p>
      <p class="reviews-editor">
        {{ page.reviews_editor.name }}, Reviews Editor
      </p>
    </div>
  {% endunless %}
</div>
<div class="header-divider"></div>