---
layout: default
---
	{% include toc.html %} 

<div class="title-author-wrapper">
	<h1>{{ page.title}}</h1>
	{%- if page.author -%}
	<p class="author">{{ page.author }}
	{%- endif -%}</p>
</div>

<div class="abstract-wrapper">
	<hr>
 <hr>
	<abstract>
	{{ page.abstract }}<br><br>
	</abstract>
	<hr>
 <hr>
</div>



<article class="main-article">
  {{ content }}
  </section>

<section id="works-cited" markdown="1" >

<h2 id="works-cited">Works Cited</h2>

{% include citations.html %}
</article>

