---
layout: default
---

<div class="title-author-wrapper">
	<h1>{{ page.title}}</h1>
</div>
	{% include toc.html %} 

<div class="abstract-wrapper">
	
		{%- if page.author -%}
		{% include marginnote.html footnote_number='0' footnote_text=page.author-info%}
		<p class="author">
    <a href=#{{page.short-name}}><span class="author-name">{{ page.author }}</span></a>
		</p>

	{%- endif -%}
	<abstract>
	{{ page.abstract }}<br><br>
	</abstract>
	<hr>
 <hr>
</div>



<article class="main-article">
  {{ content }}

</section>

<section id="works-cited" markdown="1" >

<h2 id="works-cited">Works Cited</h2>

{% include citations.html %}
</article>

