---
layout: default
---

<body>
<div class="grid-heading">Articles</div>
<div class="article-grid">

{% for post in site.posts %}
  {% if post.layout == 'article' %}
<div class="grid-item">
    <p>
        <a class="title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </p>
    <p class="author">{{ post.author }}</p>
    <p class="abstract">
        {{ post.abstract | strip_html | truncate: 150 }}
        {% if post.abstract.size > 150 %}
            <a class="more" href="{{ post.url | relative_url }}">MORE</a>
        {% endif %}
    </p> 
</div>
  {% endif %}
{% endfor %}
</div>





<div class="grid-heading">Reviews</div>

<div class="article-grid">

{% for post in site.posts %}
  {% if post.layout == 'review_article' %}

{% if post.reviewed.size == 1 %}
  <div class="reviews grid-item">
    <p style="margin-bottom:0;">
      <a class="title" href="{{ post.url | relative_url }}"><em>{{ post.reviewed[0].title | escape }}</em></a>
    </p>
    <p class="author reviewed-author" style="margin-top:0;">{{ post.reviewed[0].author }}</p>
    <p class="author">Reviewed by {{ post.author}}</p>
  </div>
{% elsif post.reviewed.size == 2 %}
  <div class="reviews grid-item">
    <p style="margin-bottom:0;">
      <a class="title" href="{{ post.url | relative_url }}"><em>{{ post.reviewed[0].title | escape }}</em></a>
    </p>
    <p class="author reviewed-author" style="margin-top:0;">{{ post.reviewed[0].author }}</p>
    <p style="margin-bottom:0;">
      <a class="title" href="{{ post.url | relative_url }}"><em>{{ post.reviewed[1].title | escape }}</em></a>
    </p>
    <p class="author reviewed-author" style="margin-top:0;">{{ post.reviewed[1].author }}</p>
    <p class="author">Reviewed by {{ post.author}}</p> </div>
{% endif %}

  {% endif %}
{% endfor %}
</div>
</body>

    
    
