---
layout: default
---

	{% include toc.html %} 

<div class="title-author-wrapper">
		<h1> {{ page.title}}</h1>

{% for book in page.reviewed %}
      <div class="reviewed-book">
		  <h2><em>{{ book.title}}</em></h2>
		  <p>{{ book.author }}<br>{{ book.publisher }}</p>
	</div>
	{% endfor %}
      
	{%- if page.author -%}
<p class="author">
    <span class="author-name">Reviewed by <a href=#{{page.short-name}}>{{ page.author }}</a></span>
</p>
	{%- endif -%}
</div>


{%- if page.abstract -%}
<div class="abstract-wrapper">
  <abstract>
    {{ page.abstract }}<br><br>
  </abstract>
    <hr>
    <hr>
{%- endif -%}  
</div>

<article class="main-article">
  {{ content }}</section>

<div class="author-bio" id="{{page.short-name}}"> 
		<hr style="color: #6d6360;">
    <span>{{ page.author-info }}</span>
  <hr style="color: #6d6360;">
</div>

<section id="works-cited" markdown="1" >

<h2 id="works-cited">Works Cited</h2>

{% include citations.html %}
</article>




