---
layout: default
---

	{% include toc.html %} 
    <article>

<h1> {{ page.title}}</h1>

{% for book in page.reviewed %}
      <div class="reviewed-book">
		  <h2><em>{{ book.title}}</em></h2>
		  <p>{{ book.author }}<br>{{ book.publisher }}</p>
	</div>
	{% endfor %}
      
	{%- if page.author -%}
<p class="author">
    <span class="author-name"><em>Reviewed by</em> {{ page.author }}</span>
    <label for="author-bio">&#8853;</label>
    <input type="checkbox" id="author-bio" class="margin-toggle"/> 
    <span class="author-bio">{{ page.author-info }}</span>
</p>
	{%- endif -%}</p>


{%- if page.abstract -%}
  <abstract>
    {{ page.abstract }}<br><br>
  </abstract>
{%- endif -%}  
    <hr>
    <hr>
  {{ content }}
</article>


